/*Reboot*/

*{
    padding: 0;
    margin: 0;
    border: 0;
 }
 *,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
 :focus,:active{outline: none;}
 a:focus,a:active{outline: none;}
 nav,footer,header,aside{display: block;}
 html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
 }
 .btn, button{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
 }
 
 .btn:focus, button:focus{
   outline: none;
 } 
 a[href^=tel]{
    color: #000;
 }
 input,button,textarea{font-family: inherit;}
 input::-ms-clear{display: none;}
 button{cursor: pointer;}
 button::-moz-focus-inner{padding: 0;border: 0;}
 a,a:visited{text-decoration: none;}
 a:hover{text-decoration: none;}
 img{vertical-align: top;}
 h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}


body {
    max-width: 100%;
    min-width: 320px;
    font-weight: 200;
    font-size: 1.11vw;
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
}
.li {
    list-style: none;
}
a {color: #000;}
a:hover{
    text-decoration: underline;
}
/*----HEADER---------------------------------------------------------------------------------*/

.header_main {
    display: flex;
    align-items: center;
    padding: 1.5em 1em 1.5em 2em;
}
.header_main_list {
    width: 92.7%;
}
.header_list {
    display: flex;
    margin-left: 3%;
}
.header_list_item {
    font-family: 'Raleway', sans-serif;
    list-style: none;
    margin-left: 2.8%;
}
.header_list_item_link{
    color: #455876;
    font-size: 1.25vw;
}
.header_logo {
    width: 7.3%;
    margin-left: -6%;
}
.line_und_header_main{
    display: flex;
    justify-content: center;
    padding-bottom: 2.5em;
}
.line_under_header{
    width: 86vw;
}



/*--FOOTER--------------------------------------------------*/

.footer_main {
    display: flex;
    width: 100%;
    background-color: #455876;
    color: #FFFFFF;
}
.footer_main_1_1 {
    display: block;
    width: 50%;
    padding-top: 2.5em;
    padding-left: 7%;
}
.footer_main_1_2 {
    display: block;
    padding-top: 2.5em;
    width: 50%;
    padding-left: 0.5%;
}
.logo2{
    width: 14.725%;
    padding-bottom: 0.4em;
}
.foot_text_1_1{
    font-weight: 100;
    letter-spacing: 0.04vw;
    padding-bottom: 2.5em;
}
.foot_text_1_2 {
    font-weight: 400;
    font-size: 1.25vw;
    padding-bottom: 0.4em;
}
.foot_text_1_3 {
    font-weight: 100;
    letter-spacing: 0.04vw;
    line-height: 150%;
    padding-bottom: 4.8em;
}
.form_svg {
    width: 27.4%;
    padding-bottom: 2.5em;
}

.footer_main_list {
    width: 100%;
}
.footer_list {
    display: flex;
    width: 100%;
}
.footer_list_item {
    list-style: none;
    margin-left: 4%;
}
.footer_list_item_link {
    display: inline;
    color: #FFFFFF;
    font-weight: 100;
    letter-spacing: 0.04vw;
    font-size: 1.25vw;
}
.space_zero{
    margin-left: 0;
}
.mail_adress{
    width: 73.8%;
    margin-top: 4.4em;
}
.facebook_youtube{
    margin-top: 4em;
}
.youtube{
    color: white;
    margin-left: 3%;
    font-weight: 275;
    font-size: 1.39vw;
}
.facebook{
    color: white;
    font-weight: 275;
    font-size: 1.39vw;
}

/*----MAIN-----------------PAGE2------------*/

.main_block2{
    display: flex;
    width: 100%;
}
.adress_line{
    font-weight: 400;
    font-size: 1.67vw;
    margin-left: 7%;
    color: #455876;
    width: 37%;
}
.forsida_back{
    color: #BAC1CC;
}
.forsida_back:hover{
    color: #6a6d72;
}

/*----SERVices CSS----------------*/

.serv_main_block {
    width: 100%;
    display: flex;
    padding-top: 3em;

}
.serv_image_block {
    display: block;
    width: 50%;
    margin-left: 7%;
}
.serv_info_block {
    display: block;
    width: 38.9%;
    margin-left: 4.1%;
}
.serv_big_img{
    width: 99.31%;
}
.serv_small_images{
    display: flex;
    width: 100%;
    margin-top: 1.5em;
    margin-left: 7%;
    padding-bottom: 7.51em;
}
.small_img_serv{
    width: 15.35%;
    margin-right: 1.8%;
    transition-duration: 0.3s;
}
.small_img_serv:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.serv_title{
    width: 21.6%;
}
.client_name {
    color: #455876;
    font-weight: 300;
    margin-top: 1.5em;
}
.client_name2 {
    color: #455876;
    font-weight: 300;
    margin-top: 0.7em;
}
.brown_client {
    color: #6F4218;
}
.serv_text1 {
    width: 77%;
    margin-top: 3.5em;
    color: #455876;
    line-height: 150%;
}
.serv_text2 {
    width: 7%;
    margin-top: 1em;
    color: #455876;
    line-height: 150%;
}
.serv_read_more{
    margin-top: 1.5em;
    width: 12.5%;
}
.serv_read_more:hover{
    border-bottom: 2px solid #455876;
}